<div class="grid grid-cols-3 gap-4 tablet:grid-cols-2 cellphone:grid-cols-1">
    {{--    Coluna 1 --}}
    <div class="grid grid-rows-2 mb-4">

        {{--    Linha 1 --}}
        <div class="font-semibold pr-1 text-slate-800 dark:text-navy-100">

        </div>

        {{--    Linha 2 --}}
        <div class="">

        </div>
    </div>

    {{--    Coluna 2 --}}
    <div class="grid grid-rows-2 mb-4">

        {{--    Linha 1 --}}
        <div class="font-semibold pr-1 text-slate-800 dark:text-navy-100">

        </div>
        {{--    Linha 2 --}}
        <div class="">

        </div>
    </div>

    {{--    Coluna 3  --}}
    <div class="grid grid-rows-2 mb-4">

        {{--    Linha 1 --}}
        <div class="font-semibold pr-1 text-slate-800 dark:text-navy-100">

        </div>

        {{--    Linha 2 --}}
        <div class="">

        </div>
    </div>

</div>